<table class="table table-hover" id="table-view">
  <thead>
    <tr>
      <th class="file-item file-name col-sm-6 col-xs-8">
        <span class="glyphicon glyphicon-th-list"></span>
        <strong></strong>
      </th>
      <th class="file-item file-date col-sm-2 hidden-xs">
        <strong class="menu">Created</strong>
      </th>
      <th class="file-item file-date col-sm-2 col-xs-2">
        <strong class="menu">Modified</strong>
      </th>
      <!-- <th class="file-item file-date col-sm-2 col-xs-2">
        <strong class="menu">Modified</strong>
      </th> -->
      <th class="col-sm-2 col-xs-2">
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each data.files as |file|}}
    <tr data-id="{{file.id}}">
      <td class="col-sm-6 col-xs-8">
        <span class="file-icon glyphicon glyphicon-file"></span>
        <a href="{{file.url}}" class="btn btn-link file-name" target="_blank">{{file.name}}</a>
      </td>
      <td class="file-date file-date-created col-sm-2 hidden-xs">{{file.createdAt}}</td>
      <td class="file-date file-date-modified col-sm-2 col-xs-2">{{file.updatedAt}}</td>
      <!-- <td class="file-date file-date-modified col-sm-2 col-xs-2">{{file.email}}</td> -->
      <td class="col-sm-2 col-xs-2 text-right">
        {{#isOwner owner user=../data.userID owner=file._owner}}
          <div class="btn-group">
            <button class="btn btn-default" id="each-file-delete">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
            <button class="btn btn-default" id="each-file-update">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button class="btn btn-default" id="each-file-update">
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <a href="{{file.url}}" class="btn btn-primary" id="each-file-download" download>
              <i class="glyphicon glyphicon-download-alt"></i>
            </a>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  File Preview
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your File</h4>
      </div>
      <div class="modal-body">
        <iframe src="{{file.url}}">
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
          </div>
        {{else}}
          <a href="{{file.url}}" class="btn btn-primary" id="each-file-download" download>
            <i class="glyphicon glyphicon-download-alt"></i>
          </a>
        {{/isOwner}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
